<div class="row">
  <div class="col-md-6">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'panel panel-default' }) do |f| %>
      <div class="panel-heading">
        <h1 class="panel-title"><strong><%= t('devise.sessions.new.title') %></strong></h1>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: t('devise.sessions.new.placeholders.email'), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: t('devise.sessions.new.placeholders.password'), class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit t('devise.sessions.new.buttons.sign_in'), class: "btn btn-success" %>
        </div>
      </div>

      <div class="panel-footer"><%= render "devise/shared/links" %></div>
    <% end %>
  </div>
</div>
